DB=nextcloud
DB_USER=nextcloud
DB_PASSWORD=change-this-password
MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_PASSWORD=change-this-password
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MINECRAFT_RCON_PASSWORD=change-this-rcon-password
SECRET_KEY=change-this-secret-key