# nextcloud

MARIADB_ROOT_PASSWORD=changeme
MARIADB_PASSWORD=changeme
MARIADB_DATABASE=changeme
MARIADB_USER=changeme

MYSQL_HOST: ${MARIADB_DATABASE}
MYSQL_DATABASE: ${MARIADB_DATABASE}
MYSQL_USER: ${MARIADB_USER}
MYSQL_PASSWORD: ${MARIADB_PASSWORD}
MYSQL_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}

NEXTCLOUD_TRUSTED_DOMAINS=nas.yourdomain.com


# minecraft

RCON_PASSWORD=changeme
SECRET_KEY=changeme